/judge/sandbox/run {


  /usr/lib{,32,64}/locale/**             mr,
  /usr/lib{,32,64}/gconv/*.so            mr,
  /usr/lib{,32,64}/gconv/gconv-modules*  mr,

  # used by glibc when binding to ephemeral ports
  /etc/bindresvport.blacklist    r,

  # ld.so.cache and ld are used to load shared libraries; they are best
  # available everywhere
  /etc/ld.so.cache               mr,
  /lib{,32,64}/ld{,32,64}-*.so   mrix,
  /lib{,32,64}/**/ld{,32,64}-*.so     mrix,
  /lib/tls/i686/{cmov,nosegneg}/ld-*.so     mrix,
  /opt/*-linux-uclibc/lib/ld-uClibc*so* mrix,

  # we might as well allow everything to use common libraries
  /lib{,32,64}/**                r,
  /lib{,32,64}/lib*.so*          mr,
  /lib{,32,64}/**/lib*.so*       mr,
  /usr/lib{,32,64}/**            r,
  /usr/lib{,32,64}/*.so*         mr,
  /usr/lib{,32,64}/**/lib*.so*   mr,
  /lib/tls/i686/{cmov,nosegneg}/lib*.so*    mr,

  audit deny network,
  #set rlimit data     <= 10M, # set data segment size limit to 10MB
  set rlimit as     <= 300M, # set virtual address space limit to 10MB
  # set rlimit nofile   <= 0,  # can have no file descriptors
  set rlimit nproc    <= 0,   # can have no instance processes in this profile
  set rlimit fsize    <= 100M,   # cannot write to file
  set rlimit core     <= 0,   # cannot do core dump (size of core dump file is zero)
  set rlimit memlock  <= 0,   # cannot lock pages to RAM
  set rlimit nice     <= 0,   # cannot raise nice scheduling priority to more than 0.

 }

